        <section class="text-center">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                        <div class="cta">
                            <h2>Don't have a <b>Screenly</b> account?</h2>
                            <h4>Don't worry, it's easy and quick. Just click bellow.</h4>
                            <a class="btn btn--primary type--uppercase" href="https://login.screenlyapp.com/signup">
                                <span class="btn__text">Sign Up</span>
                                <span class="label">Free</span>
                            </a>
                        </div>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>

    
        <section class="cta cta-4 space--xs unpad--bottom">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <hr>
                        <span class="label label--inline">Beta</span>
                        <span>Screenly App Store is in Beta mode and available to all accounts free and paid.</span>
                        <hr>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>



        <footer class="footer-3 text-center-xs space--xs">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <a href="{{site.url}}/" class="logo"><img alt="Image" class="logo" src="{% asset_path logo-dark.png %}" /></a>
                        <ul class="list-inline list--hover">
                            <li>
                                <a href="https://login.screenlyapp.com/signup" target="_blank">
                                    <span class="type--fine-print">Get Started</span>
                                </a>
                            </li>
                            <li>
                                <a href="mailto:{{site.email}}">
                                    <span class="type--fine-print">{{site.email}}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 text-right text-center-xs">
                        <ul class="social-list list-inline list--hover">
                            <li>
                                <a href="{{site.social.google_plus}}" target="_blank">
                                    <i class="fa fa-google"></i>
                                </a>
                            </li>
                            <li>
                                <a href="{{site.social.twitter}}" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="{{site.social.facebook}}" target="_blank">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="{{site.social.github}}" target="_blank">
                                    <i class="fa fa-github"></i>
                                </a>
                            </li>
                            <li>
                                <a href="{{site.social.linkedin}}" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="{{site.social.medium}}" target="_blank">
                                    <i class="fa fa-medium"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--end of row-->
                <div class="row">
                    <div class="col-sm-6">
                        <span class="type--fine-print">&copy;<span class="update-year"></span> Screenly, Inc.</span>
                    </div>
                    <div class="col-sm-6 text-right text-center-xs">
                        <p class="type--fine-print">{{site.brand}} - Digital Signage made easy</p>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </footer>

        <!--<div class="loader"></div>-->
        <a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
            <i class="stack-interface stack-up-open-big"></i>
        </a>