<a id="start"></a>

<header class="bar bar-3 bar--sm bg--secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a href="{{site.url}}/"><img class="logo-symbol" alt="Screenly" src="{{site.url}}{% asset_path logo-dark.png %}" /></a>
                <div class="bar__module">
                    <span class="type--fade">{{site.title}} | {{site.tagline}}</span>
                </div>
            </div>
            <div class="social col-md-6 text-right text-left-xs text-left-sm">
                <div class="bar__module">
                    <ul class="menu-horizontal">
                        <li>
                            <a href="{{site.social.google_plus}}" target="_blank">
                                <i class="fa fa-google"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{{site.social.twitter}}" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{{site.social.facebook}}" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{{site.social.github}}" target="_blank">
                                <i class="fa fa-github"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{{site.social.linkedin}}" target="_blank">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{{site.social.medium}}" target="_blank">
                                <i class="fa fa-medium"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!--end of row-->
    </div><!--end of container-->
</header><!--end bar-->


<section class=" bg--primary unpad cta cta-2">

        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <hr/>
                    <h3><b>BETA</b>. Screenly App Store is in Beta mode and available to all accounts free and paid.</h3>
                </div>
            </div><!--end of row-->
        </div><!--end of container-->
</section>