body.product {

	h4 {
		margin-bottom: 21px;
	}

	.app-settings {
		/*position: relative;*/
	
		.btn {
			vertical-align: top;
		}
	}

	.modal-instance + input {
		padding-right:35px;
	}

	img {
		margin-bottom:0;
	}
}