{% include head.html %} {% include header.html %}
<div class="main-container">

    {% include detail.head.html %}

    <section class="space--xs">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="slider border--round boxed--border" data-paging="true" data-arrows="true">
                        <ul class="slides">
                            <li>
                                <img alt="Image" src="{{site.url}}{% asset_path '{{ page.app.image }}' %}" />
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-5">
                    <h2>{{page.title}}</h2>
                    <p>{{page.description}}</p>
                    <form id="app-form" class="">
                        <div class="col-sm-12 app-settings">
                            <input type="text" id="app-form-url" data-url="{{page.app.url}}" value="{{page.app.url}}" readonly />
                        </div>
                        <div class="row col-xs-12 app-settings">
                            {{ content }}
                            <a href="#" id="app-form-btn" class="btn bg--dark btn--icon btn-clipboard" data-clipboard-target="#app-form-url">
                                <span class="btn__text"><i class="icon icon-File-Clipboard"></i> Copy to clipboard</span>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    {% include footer.html %}
</div>
{% include foot.html %}
