{% include head.html %}
{% include header.html %}

<div class="main-container">

    {% include detail.head.html %}

    <section class="space--xs">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="slider border--round boxed--border" data-paging="true" data-arrows="true">
                        <ul class="slides">
                            <li>
                                <img alt="Image" src="{{site.url}}/assets/img/{{page.app.image}}" />
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-5">
                    <h2>{{page.title}}</h2>
                    <p>{{page.description}}</p>
                    <div>{{ content }}</div>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    {% include footer.html %}
</div>
{% include foot.html %}
